.top-ranking-table{
    width: 90%;
    border: 2px solid white;
    font-size: 20px;
    margin-top: 300px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;   
}
tr{
    align-items: center;
}
.heading{
    position: absolute;
    margin-left: 70px;
    margin-top: -50px;
}
.ranking-list{
    border: 2px solid gray;
    text-align: center;
    background-color: rgb(210, 224, 236);
} 
.rankac{
    position: relative;
    text-align: center;
    font-size: 36px;
    color: rgb(52, 67, 85);    
    font-weight: bold;

}
.animeimg{
    position: relative;
    float: left;
    padding: 10px;
    width: 100px;
    margin-left: 8px;
    margin-right: 10px;
}
.table-header {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    background-color: cornflowerblue;
}
.table-header td{
    padding: 10px;
}
body{
    overflow-y: scroll;
}
.aname1{
    padding-top: 20px;
    font-size: 18px;
    font-family: fantasy;
    margin: 15px;
    float: left;
    text-align: left;
    
}
.details{
    text-align: left;
    font-size: 15px;
    margin-top: 5px;
    color: rgb(104, 104, 104);
}
.arrow{
    font-size: 60px;
}